.page404 {
	padding: 20rem 0 12rem;

	.page404__title {
		margin-bottom: 2rem;
		font-size: 3.2rem;
		font-weight: 600;
		text-align: center;

		@media #{$tab} {
			font-size: 2.4rem;
		}
	}

	.page404__text {
		margin-bottom: 2rem;
		font-size: 1.6rem;
		text-align: center;

		@media #{$tab} {
			font-size: 1.4rem;
		}
	}

	.page404__link {
		display: block;
		font-size: 1.4rem;
		text-align: center;
		text-align: center;
		text-decoration: underline;

		@media #{$tab} {
			font-size: 1.2rem;
		}
	}
}
