@charset 'UTF-8';

//____________________________
// カレンダーのスタイル
//____________________________
.calendarComponent {
	width: 100%;
	margin: 0 auto;

	.calendarTitle {
		align-items: center;
		flex-flow: wrap;
		justify-content: space-between;
		display: flex;
		font-size: 2.4rem;;

		.calendarTitle__arrow {
			padding: 0;
			background-color: transparent;
			border: none;

			&.-disabled {
				opacity: 0.5;
				pointer-events: none;
			}

			> i {
				pointer-events: none;
			}
		}
	}

	.calendarForm {
		@media #{$tab} {
			overflow: scroll;
		}

		.calendarTable {
			width: 100%;

			.calendarTable__th ,
			.calendarTable__td {
				width: 100%;
				max-width: calc(100% / 7);
				text-align: center;

				//____________________________
				// モディファイア
				//____________________________
				// ---------- sunday ----------
				&.-dayofweek-0 {
					background-color: rgba(red, 0.5);
				}

				// ---------- saturday ----------
				&.-dayofweek-6 {
					background-color: rgba(blue, 0.5);
				}
			}

			.calendarTable__thead {
				.calendarTable__tr {
					.calendarTable__th {
						padding: 0.6rem 0;
						line-height: 1;
					}
				}
			}

			.calendarTable__tbody {
				.calendarTable__tr {
					.calendarTable__td {
						padding: 1.2rem;

						//____________________________
						// モディファイア
						//____________________________
						&.-other-month {
							.calendarTable__day {
								opacity: 0.5;
							}
						}

						&.-is-today {
							background-color: $primary;

							.calendarTable__day {
								color: $white_fff;
							}
						}

						&.-is-holiday {
							background-color: rgba(red, 0.5);
						}
					}
				}
			}
		}
	}
}
