.pageTerms {
	@font-face {
		font-family: 'YuGothicBold';

		src: url('../Assets/Lang/YuGothicBold.ttf') format('truetype') url('../Assets/Lang/YuGothicBold.ttf') format('truetype') url('../Assets/Lang/YuGothicBold.otf') format('opentype') url('../Assets/Lang/YuGothicBold.eof') format('embedded-opentype') url('../Assets/Lang/YuGothicBold.svg') format('svg');
	}

	.pageTerms__detail {
		padding: 7.7rem 0 7.1rem;

		@media #{$tab} {
			padding: 5.5rem 0 5.3rem;
		}
	}

	span.-bold {
		font-family: 'YuGothicBold';
		font-weight: 900;
	}
}
